<div style="padding:10px; font-size: 30px">

	Hi,
	<br><br>
	Thank you for contacting us. Our officers will reply in 2-3 buissiness days.
	<br><br><br>
	<hr>
	Thanks for choosing us,
	<br>
	<a href="" style="color: green; text-decoration: none; font-size: 43px;">Sun Dance Services</a>
	<br><br>

    <%= image_pack_tag 'logo.png', width:"280px"; %>

</div>