<div class="card text-white" style="background-color: black">
	<div class="text-center">
		<%= image_pack_tag 'home_page.jpg', style:"width:100%;" %>
	</div>


  <div class="card-img-overlay container"> 
  		<br><br><br><br>
  	 <h5 class="card-title text-center display-2"><i>"Be part of the solution"</i></h5>

  	 <div class="position-absolute top-50 start-50 translate-middle">
  	 	
    	<p class="card-text fs-4">Transitioning to a post COVID era can be challenging. 
				We design sustainable change into your assets and estate.
				We are here to support your ambitions, however large or small. 
				Sun Dance Services offer additional, impartial support to members who want a partner to help.</p>
  	 </div>


    <div class="card-text position-absolute bottom-0 end-0 translate-middle">
    	<p class="text-end fs-4"><i>"Times change, we need to change as well."</i></p>
		<p class="text-end fs-3"><b>Nelson Mandela</b></p>
    </div>
    
  </div>
</div>

