

<!-- Bootstrap Static Header -->
<div id="thisDiv" style="background-size: cover !important;" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Bootstrap static header</h1>
        <p class="font-italic mb-0">Using simple jumbotron-style component, create a nice Bootstrap 4 header with a background image.</p>
        <p class="font-italic">Snippe by
            <a href="https://bootstrapious.com" class="text-white">
                <u>Bootstrapious</u>
            </a>
        </p>
        <a href="#" role="button" class="btn btn-primary px-5">See All Features</a>
    </div>
</div>

<div>
	<%= image_pack_tag 'home_networks_wallpaper.jpg', id:"thisImage" %>

	<script type="text/javascript">
		let img = document.getElementById("thisImage");
		img.style = "display:none;"

		let div = document.getElementById("thisDiv");
		div. style = "background: url("+ img.src + ")"
		console.log(img.src)
	</script>
	<div>
		<h1>Home#index</h1>
		<p>Find me in app/views/home/index.html.erb</p>
	</div>
</div>


