
<div>
	<%= image_pack_tag 'home_networks_wallpaper.jpg', class:"img-fluid", style:"
		object-fit: cover;
		width: 100%;
		height: 300px;
		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));" %>
	<h1 class="text-center text-black fs-1"><i>"Be part of the solution."</i></h1>
</div>


<br>
<div class="container">

	<div class="card mb-3">
	  <div class="row no-gutters">
	    <div class="col-md-3">
	      <img style="width: 197px; margin:50px;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" class="card-img">
	    </div>
	    <div class="col-md-9">
	      <div class="card-body">
	        <h5 class="card-title"><b>Item 1</b></h5>
	        <p class="card-text">
				Transitioning to a post COVID era can be challenging. 
				We design sustainable change into your assets and estate.
				We are here to support your ambitions, however large or small. 
				Sun Dance Services offer additional, impartial support to members who want a partner to help.</p>
	        <p class="card-text"><small class="text-muted">Sun Dance Services</small></p>
	      </div>
	    </div>
	  </div>
	</div>


	<p class="card-text text-center"><small class=" s1"><i>"Times change, we need to change as well."</i>
Nelso Mandela</small></p>
</div>