<%= image_pack_tag 'products/image3.jpg', style:"max-height:340px" %>

<div class="mycontainer" style="padding-left: 100px; padding-right: 100px;">
	<br>

	<div id="carouselExampleDark1" class="carousel carousel-light slide" data-bs-interval="false">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">



			<div class="carousel-item active col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image4.jpeg', style:"width:100%; height:310px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Marketing Consultancy</p>
							<p class="fs-5" style="text-align: justify;">We create a plan for marketing for you with specific key intelligent marketing actions  as well as performance indicators and tactics creating, in this way, a competitive strategy which will help you stand out from the crowd  and therefore increase your sales. We will help develop new products-services or we will improve the already existing ones. We will put forward their comparative advantages and by engaging specific tactics we will increase your potential customers.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image5.jpeg', style:"width:100%; height:310px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Marketing Consultancy</p>
							<p class="fs-5" style="text-align: justify;">We are in the business of marketing consulting the future, in an actionable way.
								You know how every business is trying to become more connected and agile in a digital world? We assist in accomplishing that. By analysing your strategies, building new revenue streams and making everything more measurable by leverage technology and data.
							Together, we will analyse how a client conceives the service you offer and we will create the basis upon which you can always create memorable experiences which will, in turn, lead your clients to be more loyal than ever.</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image6.jpeg', style:"width:100%; height:310px;" %>
						</div>
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Marketing Consultancy</p>
							<p class="fs-5" style="text-align: justify;">
								We challenge and inspire your teams to think in radical ways about technologies and business models which threaten to disrupt your market, with a structured process approach with hands-on technology and innovation tools.
								We insensitive your teams to develop your own ability to innovate, flipping the consultancy model on its head – building your own capacity to repeatedly create breakthroughs and growth.
							</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>



		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>















	<div id="carouselExampleDark2" class="carousel carousel-light slide" data-bs-interval="false">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">



			<div class="carousel-item active col">
				<div class="container text-white">
					<div class="row">
						
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Property Valuation</p>
							<p class="fs-5" style="text-align: justify;">Our experience indicate that an overpriced property typically takes twice longer to sell, while an undervalued one, lose on potential income. Sun Dance Services provides comprehensive valuations to all types of properties in Europe. Valuations are performed by property experts who visit your property and provide professional valuation services.
							We undertake valuations of all kinds of personal immovable property. A property valuation is usually needed for getting a loan to finance the acquisition of a property.</p>
						</div>
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image7.jpeg', style:"width:100%; height:310px;" %>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Property Valuation</p>
							<p class="fs-5" style="text-align: justify;">
								The main reasons why someone may need a valuation are the following:
								<ul class="fs-5">
									<li>To use it with a bank for financing purposes.</li>
									<li>To get the fair value when he is a buyer or a seller in a property transaction.</li>
									<li>For regulatory reasons as accounting requirements will request it.</li>
									<li>For taxation purposes when negotiating a valuation with  tax authorities.</li>
									<li>When disputes arise in divisions of property, divorce cases, in property exchanges, rent control law, etc.</li>
								</ul>

							</p>
						</div>
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image8.jpeg', style:"width:100%; height:310px;" %>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Property Valuation</p>
							<p class="fs-5" style="text-align: justify;">
								A Sun dance Service unveils the market value and the force sales value of a property
								Commentary on the legal and physical characteristics of the property and it’s future potential.
								<ul class="fs-5">
									<li>Sell your property at the best possible price</li>
									<li>Exceptional Property Presentation</li>
									<li>We do viewings at weekends</li>
									<li>Market Intelligence Analysis</li>
								</ul>
							</p>
						</div>
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image9.jpeg', style:"width:100%; height:310px;" %>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>



		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

















	<div id="carouselExampleDark3" class="carousel carousel-light slide" data-bs-interval="false">

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark3" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark3" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">



			<div class="carousel-item active col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image10.jpeg', style:"width:100%; height:320px; padding:20px 0px" %>
						</div>
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Feasibility Studies</p>
							<p class="fs-5" style="text-align: justify;">
								Sun Dance Services assists property developers, landlords, investors, the public sector, commercial and retail occupiers, with feasibility studies and economics impact assessment, market analysis. We prepare robust and detailed analytical insights which are used to inform investment decisions and identify a property’s or a project’s likely economic, social and developmental impacts and benefits.
							</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image11.jpeg', style:"width:100%; height:320px; padding:20px 0px" %>
						</div>
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Feasibility Studies</p>
							<p class="fs-5" style="text-align: justify;">
								Clients considering a new investment, venture, or expansion will have access to our most reliable project feasibility advisory.
								If you need strategic, financial, and industry specific expertise in developing full blown business plans with focus on business / project feasibility studies, study of industry and economic conditions, analysis of internal capabilities, SWOT analysis, etc.
								We provide  feasibility services and business plans, we highlight the present and potential risk factors and enable an informed decision making on the viability of underlying opportunities.
							</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>

			<div class="carousel-item col">
				<div class="container text-white">
					<div class="row">
						<div class="col-sm-5">
							<%= image_pack_tag 'products/image12.jpeg', style:"width:100%; height:320px; padding:20px 0px" %>
						</div>
						<div class="col-sm-7" style="padding:0px 15px;">
							<p class="fs-2">Feasibility Studies</p>
							<p class="fs-5" style="text-align: justify;">
								A well-designed study should offer a historical background of the business or project, such as a description of the product or service, accounting statements, details of operations and management, marketing research and policies, financial data, legal requirements, and tax obligations. Generally, such studies precede technical development and project implementation. We focus on the 5 main pillars of feasibility studies which include: Technical Feasibility, Economic Feasibility, Legal Feasibility, Operational Feasibility and Scheduling Feasibility.
							</p>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>



		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

















<div id="carouselExampleDark4" class="carousel carousel-light slide" data-bs-interval="false">

	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleDark4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleDark4" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleDark4" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">



		<div class="carousel-item active col">
			<div class="container text-white">
				<div class="row">

					<div class="col-sm-7" style="padding:0px 15px;">
						<p class="fs-2">Corporate Partnership</p>
						<p class="fs-5" style="text-align: justify;">
							Fulfil your company’s Corporate social responsibility goals through Sun Dance Services community building initiatives, volunteering opportunities for your employees and more.Through corporate partnerships with businesses like yours, we can turn desperate situations into new opportunities by providing a hand up, not a hand out, for the families we serve.
						</p>
					</div>

					<div class="col-sm-5">
						<%= image_pack_tag 'products/image13.jpeg', style:"width:100%; height:320px; padding:20px 0px" %>
					</div>
				</div>
			</div>
			<br><br><br>
		</div>

		<div class="carousel-item col">
			<div class="container text-white">
				<div class="row">

					<div class="col-sm-7" style="padding:0px 15px;">
						<p class="fs-2">Corporate Partnership</p>
						<p class="fs-5" style="text-align: justify;">
							Sun Dance Services professionalism remains at the heart of everything we do but we also embrace and value the relationships we have and the work we do with legal businesses and providers. We have always had excellent relationships with our informal commercial partners, whether they be training providers, employers  or other businesses providing services and products to our members. Our Corporate Partnerships offer a formal and dedicated pathway for legal enterprises and service providers to achieve industry-wide recognition of their commitment to supporting and developing professionals on their growth journey.
						</p>
					</div>

					<div class="col-sm-5">
						<%= image_pack_tag 'products/image14.jpeg', style:"width:100%; height:320px; padding:20px 0px" %>
					</div>
				</div>
			</div>
			<br><br><br>
		</div>

		<div class="carousel-item col">
			<div class="container text-white">
				<div class="row">

					<div class="col-sm-7" style="padding:0px 15px;">
						<p class="fs-2">Corporate Partnership</p>
						<p class="fs-5" style="text-align: justify;">
							Our previous work with commercial businesses and individuals has been incredibly fruitful for all parties involved, allowing our partners to gain access to information and insights that help them innovate to build their business. The partnership offers a wide range of benefits, as well as our unique tools, access to support, and industry knowledge, built up over decades. You’ll also have access to our rich network of professionals to help you to build a legal services or support business that’s fit for the future.
						</p>
					</div>

					<div class="col-sm-5">
						<%= image_pack_tag 'products/image15.jpeg', style:"width:100%; height:320px; padding:20px 0px" %>
					</div>
				</div>
			</div>
			<br><br><br>
		</div>



	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark4" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark4" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
</div>









